<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg position-fixed py-0" style="width: 13%; height: 100vh;">
  <div class="container-fluid h-100 flex-column align-items-start p-0">
    <button class="navbar-toggler ms-2 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-column align-items-start ps-4 pt-3 bg-body-tertiary w-100" id="navbarNav" style="min-width: 13rem;">
      <p class="navbar-brand">Inventory System</p>
      <ul class="navbar-nav flex-column w-100">
	<%- include('sidebar_data.ejs') %>
      </ul>
    </div>
  </div>
</nav>
